#################
## Eclipse
#################

*.pydevproject
.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# emacs/vi
*~

# c build results
*.a
*.o
*.so

# Misc
blink1raw
